@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  will-change: auto;
  background-color: #fffaef;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: auto; /* Long scroll space */
  overflow-x: hidden;
  font-family: 'Courier New', monospace;
  background-color: #fffaef;
}

